    * {
       box-sizing:border-box; 
    }

   .block {
      background-color:green;

      padding:10px;
      margin:10px;
   }

   .inline {
      background-color: rgb(160, 210, 193);
      width:90px;
      height:100px;
      padding:10px;
      margin:30px;
      display:inline-block;
   }

   .container {
      background-color:rgb(126, 160, 189);
      padding:20px;
      height:600px;
      display:flex;

      /* flex-direction will determine the main-axis:

         row =  horizontal main axis
         column = vertical main axis

      */

      flex-direction:column;
    
      flex-wrap:wrap;

      /* justify content aligns along the main-axis */
      justify-content:space-between ;

      /* align-items align items along the cross-axis and is used for non-wrapping flexboxes */
      align-items:center;

      /* align-content aligns items along the cross-axis, and is used for multi-line/wrapping flexboxes */
      align-content:flex-end;

      gap:10px;
   }

   .item {
      background-color: rgb(206, 231, 255);
      padding:10px;
      border:1px solid;
      width:150px;
   }

   .special {
      background-color: rgb(253, 251, 255);
      order:-1;
   }