    * {
       box-sizing:border-box; 
    }

    .main-container {
      background-color: black;
      padding:10px;
      height:600px;

      display:flex;
      flex-direction: column;
    }

    .top {
      background-color:rgb(0, 0, 0);
      height:20%;
      display:flex;
      flex-direction:row;
      gap:10px

    }

    .top-item {
      background-color: rgb(177, 177, 177);
      width:100%;

    }

    .bottom {
      background-color: rgb(144, 144, 144);
      height:80%;
    }