html, body {
    min-height:150vh 
}

audio:nth-child(1) { position: relative; top: 1000px; left: 1350px; } 
audio:nth-child(2) { position: relative; top: 400px; left: 1400px; } 
audio:nth-child(3) { position: relative; top: 900px; left: 1380px; } 
audio:nth-child(4) { position: relative; top: 290px; left: 1000px; } 
audio:nth-child(5) { position: relative; top: -20px; left: 0px; } 
audio:nth-child(6) { position: relative; top: 777px; left: 777px; } 
audio:nth-child(7) { position: relative; top: 140px; left: 20px; } 
audio:nth-child(8) { position: relative; top: 14px; left: 230px; } 
audio:nth-child(9) { position: relative; top: 140px; left: 1230px; } 
audio:nth-child(10) { position: relative; top: 890px; left: 20px; } 
audio:nth-child(11) { position: relative; top: 200px; left: 200px; } 
audio:nth-child(12) { position: relative; top: 410px; left: 980px; } 
audio:nth-child(13) { position: relative; top: 320px; left: 220px; } 
audio:nth-child(14) { position: relative; top: 660px; left: -300px; } 
audio:nth-child(15) { position: relative; top: 260px; left: 380px; } 
audio:nth-child(16) { position: relative; top: 560px; left: 500px; }
