    * {
       box-sizing:border-box; 
    }
    
    .content-box {
        background-color: rgb(194, 194, 194);
        width:200px;
        height:200px;
        padding:50px;
        border: 5px solid darkslategray;
        margin:50px;
        box-sizing:content-box;
    }

    .border-box {
        background-color: rgb(194, 194, 194);
        width:200px;
        height:200px;
        padding:50px;
        border: 5px solid darkslategray;
        margin:50px;
        box-sizing:border-box;
    }

    .container {
        background-color: rgb(9, 63, 109);
        width:300px;
        height:300px;
        position:relative;
    }

    .box {
        background-color: bisque;
        width:100px;
        height:100px;
        margin:20px 0;
        border:2px solid darkolivegreen;
    }

    .relative {
        background-color: cadetblue;
        position:relative;
        top:50px;
        left:50px;
    }

    .fixed {
        background-color: rgb(255, 112, 69);
        position:fixed;
        top:0px;
        right:0px;
        margin:0;
    }

    .absolute {
        background-color: darkorange;
        position:absolute;
        top:60px;
        right:40px;
        margin:0;
    }
